*{
    margin: 0;
    padding: 0;
}

body{
    background-color: blue;
    font-family: sans-serif;
}

img{
    width: 50%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* container */

.container{
    width: 40%;
    margin: 90px auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container h1{
    font-size: 40px;
    text-align: center;
}

.container #gambar{
    background-color: grey;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 8px;
}

.container .mid{
    text-align: center;
    margin-bottom: 20px;
}

.container label{
    font-size: 25px;
    margin-top: 50px;
    color: blue;
}

.container input[type="text"]{
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid gray;
}

.container input[type="number"]{
    width: 100%;;
}

.container select{
    width: 101%;
    padding: 3px;
    border-radius: 3px;
}

.container select:focus{
    outline: none;
}

.container textarea{
    width: 101%;
    height: 150px;
}

.container textarea:focus{
    outline: none;
}

.container .kirim {
    background-color: green;
    border-radius: 3px;
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10px;
    padding: 5px 30px;
    font-size: 18px;
    color: white;
}


