* {
    margin:0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #ddd;
}

li{
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

a{
    text-decoration: none;
}

img{
    width: 400px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* main */

.navbar{
    display: flex;
    padding: 30px;  
    background-color: #ee4d2d;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar h1{
    font-weight: 100;
}

.navbar ul.pilihan{
    display: flex;
}

.navbar ul.pilihan li.tambah{
    background-color: green;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}

.navbar ul.pilihan li.ganti{
    background-color: blue;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 18px;
}

.navbar ul.pilihan li.delete{
    background-color: red;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}

.navbar a{
    color: white;
    font-size: 20px;
}


/* main */

.produk{
    display: flex;
    margin: 40px auto;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.penjualan{
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    width: 100%;
}

.list_produk h1{
    margin-top: 10px;
    margin-left: 10px;
}

.list_produk h1.harga{
    font-size: 50px;
    color: #ee4d2d;
}

.list_akhir {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.list_akhir a {
    color: white;
}

.list_akhir .tombol_beli{
    font-size: 18px;
    background-color: #ee4d2d;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 50%;
    margin-right: 10px;
    border-radius: 5px;
    padding: 30px;
}

.list_akhir .tombol_keranjang{
    font-size: 18px;
    width: 50%;
    padding: 30px;
    margin-right: 8px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* komentar */

.komentar{
    width: 80%;
    margin: 0px auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.list_komentar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_komentar .kanan{
    padding: 10px;
    background-color: green;
    border-radius: 5px;    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: white;

}

ul.isi_komentar{
    margin-top: 15px;
}

ul.isi_komentar li{
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: gray;
}

ul.isi_komentar li .atas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.isi_komentar li .atas .kanan a{
    padding: 3px;
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    color: white;
}

ul.isi_komentar li .atas .kanan a.editbutton{
    background-color: blue;
    padding: 3px 12px;
}



.tambahKomen{
    color: white;
}

