*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

/* main */

.form{
    background-image: url('belakang.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 768px;
}